# 1. Adicione o ponto no início do arquivo e remova o ".example" -> Ficará assim [.env.local]
# 2. Adicione suas keys
STRIPE_SECRET_KEY=sk_test_XXXXXXXXXXXXXXXXXXXXXXXX
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_XXXXXXXXXXXXXXXXXXXXXXXX
